{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Biz haqimizda {% endblocktrans %}
{% endblock title %}

{% block content %}
    <section class="wrapper bg-gray">
      <div class="row position-relative">
        <div class="container pt-10 pt-md-14 text-center">
          <div class="row">
            <div class="col-xl-6 mx-auto">
              <h1 class="display-1 mb-4" style="color: black;">{% blocktrans %} Biz haqimizda {% endblocktrans %}</h1>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure class="position-absoute" style="bottom: 0; left: 0; z-index: 2;"><img src="{% static './media/abt.JPG' %}" alt="" /></figure>
      </div>
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-end lower-end">
      <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-17 align-items-center">
          <div class="col-lg-6 position-relative order-lg-2">
            <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
            <div class="overlap-grid overlap-grid-2">
              <div class="item">
                <figure class="rounded shadow">
                  <img src="{% static 'assets/img/photos/about2.jpg' %}" srcset="{% static 'assets/img/photos/about2@2x.jpg' %} 2x" alt="">
                </figure>
              </div>
              <div class="item">
                <figure class="rounded shadow">
                  <img src="{% static 'assets/img/photos/about3.jpg' %}" srcset="{% static 'assets/img/photos/about3@2x.jpg' %} 2x" alt="">
                </figure>
              </div>              
            </div>
          </div>
          <div class="col-lg-6">
            <img src="{% static 'assets/img/icons/lineal/megaphone.svg' %}" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
            <h2 class="display-4 mb-3">{% blocktrans %} Borche nima? {% endblocktrans %}</h2>
            <p class="lead fs-lg">{% blocktrans%} Biz ijodiy strategiyaning kuchiga va ajoyib dizaynga ishonadigan raqamli va brending kompaniyamiz {% endblocktrans %}</p>
            <div class="row gy-3 gx-xl-8">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>{% blocktrans %} Yuqori aniqlik va sifat {% endblocktrans %}</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>{% blocktrans %} Malakali xodimlar {% endblocktrans %}</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                  <li><span><i class="uil uil-check"></i></span><span>{% blocktrans %} Uzoq yillik tajriba {% endblocktrans %}</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>{% blocktrans %} Millionlar tanlovi {% endblocktrans %}</span></li>
                </ul>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
      </div>
      <!-- /.container -->
    </section>
  </div>
  
{% endblock %}