{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Biz bilan bog'lanish {% endblocktrans %}
{% endblock title %}

{% block content %}

<section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white position:relative">
  <div class="bg-image-holder" style="background-image: url('{% static './media/borche.jpg' %}'); background-size: cover; background-attachment;">
    <!-- Rest of the content -->
    <div class="container pt-17 pb-20 pt-md-19 pb-md-21 text-center"></div>
  </div>
</section>

    <!-- /section -->
    <section class="wrapper bg-light angled upper-end">
      <div class="container pb-11">
        <div class="row mb-14 mb-md-16">
          <div class="col-xl-10 mx-auto mt-n19">
            <div class="card">
              <div class="row gx-0">
                <div class="col-lg-6 align-self-stretch">
                  <div class="map map-full rounded-top rounded-lg-start">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3488.924828436402!2d69.2603773592001!3d41.34213507683886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b676d1b0227%3A0x6afd84e2709d13f2!2sBorche!5e0!3m2!1sen!2s!4v1687429828415!5m2!1sen!2s"
                    style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
                  </div>
                  <!-- /.map -->
                </div>
                <!--/column -->
                <div class="col-lg-6">
                  <div class="p-10 p-md-11 p-lg-14">
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"
                            style="color: #fff103;"></i> </div>
                      </div>
                      <div class="align-self-start justify-content-start">
                        <h5 class="mb-1">{% blocktrans %}Manzil{% endblocktrans %}</h5>
                        <address>{% blocktrans %}Taxtapul ko'chasi 348,{% endblocktrans %} <br class="d-none d-md-block" /> <br> {% blocktrans %}Toshkent, O'zbekiston{% endblocktrans %}
                        </address>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"
                            style="color: #fff103;"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">{% blocktrans %}Telefon raqami{% endblocktrans %}</h5>
                        <p>+998 (94) 060 00 10</p>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="d-flex flex-row">
                      <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"
                            style="color: #fff103;"></i> </div>
                      </div>
                      <div>
                        <h5 class="mb-1">{% blocktrans %}Elektron pochta{% endblocktrans %}</h5>
                        <p>info@borche.uz</p>
                      </div>
                    </div>
                    <!--/div -->
                  </div>
                  <!--/div -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <h2 class="display-4 mb-3 text-center">{% blocktrans %}Bizga xabar qoldiring{% endblocktrans %}</h2>
            <p class="lead text-center mb-10">{% blocktrans %}Quyidagi bo'limda kerakli ma'lumotlarni qoldiring va tez orada aloqaga chiqamiz{% endblocktrans %}
            </p>
            <form class="contact-form" id="contact-form">
              <div class="row gx-4">
                <div class="col-12">
                  <div class="form-floating mb-4">
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Jane" required="">
                    <label for="form_name">Ism *</label>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter your name.</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-4">
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="+998" pattern="\+998\d{9}" required="" value="+998">
                    <label for="form_phone">{% blocktrans %}Telefon raqami *{% endblocktrans %}</label>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a valid phone number starting with "+998".</div>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="Jo'natish">
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      </form>
      <!-- /form -->
  </div>
  <!-- /column -->
  </div>
  <!-- /.row -->
  </div>
  <!-- /.container -->
  </section>
  <!-- /section -->

{% endblock %}